ul {
  list-style-type: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-control#users li + label{
/*
 display:none;
*/
}


.logoIcon{
    width: 75px;
    height: 75px;
    margin-left: 10px;
}

.navbar-toggle{
margin-top:18px;
}

@media (min-width: 768px){
.navbar-nav {
    padding-top: 12px;
}
}