{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Session form</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
    </div>
    <div class="col-md-4">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form2.hidden_tag() }}
            {{form2.beforeFile.label}}
            {{form2.beforeFile}}
            <br>
            {% for file in filesBefore %}
            <img class="open-modal_image" src="{{ url_for('upload', filename=file) }}"
                 style="width: 64px;cursor: pointer;padding:1px;"
                 data-toggle="modal" data-target="#pictureModal" data-file="{{ url_for('upload', filename=file) }}">
            {% endfor %}
            <br>
            <br>
            {{form2.afterFile.label}}
            {{form2.afterFile}}
            <br>
            {% for file in filesAfter %}
            <img class="open-modal_image" src="{{ url_for('upload', filename=file) }}"
                 style="width: 64px;cursor: pointer;padding:1px;"
                 data-toggle="modal" data-target="#pictureModal" data-file="{{ url_for('upload', filename=file) }}">
            {% endfor %}
            <br>
            <br>
            {{form2.submit2}}
            <p></p>
        </form>

    </div>
    <div class="col-md-4">
        <div class="center open-paint_image" id="open-paint_image_id" style="width:240px;height:240px; background-size: contain;background-image: url( '{{ url_for('upload', filename='humanface.jpg') }}');background-repeat: no-repeat;background-position:center;" data-toggle="modal"
             data-target="#paintModal" data-file="{{ url_for('upload', filename='humanface.jpg') }}" >
            <canvas id="sessionCanvas" width="240" height="240" >

            </canvas>
        </div>
        <!--<img class="open-paint_image" src="{{ url_for('upload', filename='humanface.jpg') }}"
                 style="width: 200px;cursor: pointer;padding:1px;"
                 data-toggle="modal" data-target="#paintModal" data-file="{{ url_for('upload', filename='humanface.jpg') }}">
        <p></p>-->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
<!--                <h5 class="modal-title" id="exampleModalLabel"></h5>-->
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <img id="modal_image" style="width: 70%" class="center">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#pictureModalDelete">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!--confimation modal-->
<div class="modal fade" id="pictureModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Confirm Delete</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure?
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="deletePic" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--delete session modal-->
<div class="modal fade" id="deleteSessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Confirm Delete</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure?
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="deleteSessionConfirm" type="button" class="btn btn-danger" data-dismiss="modal"
                        data-file="-1">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!--paint modal-->
<div class="modal fade" id="paintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="paint-app">

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sessionModelSave" type="button" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}